/* Estilos generales */
body {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace; /* Tipografía Courier New */
    background-image: url('https://mir-s3-cdn-cf.behance.net/project_modules/hd/8dd9c993880197.5e706d68574d6.gif');
    background-size: cover;
    background-position: center;
    color: #726e6e; /* Texto claro */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    line-height: 1.6; /* Espaciado entre líneas */
}


header {
    text-align: center;
    padding: 40px 20px;
    background-color: rgba(0, 0, 0, 0.7); /* Fondo oscuro semi-transparente */
    border-bottom: 2px solid #000000;
}

.sombreado {
    color: rgb(166, 162, 162);
    text-shadow: 2px 2px 4px rgb(111, 108, 108);
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.contact-info, .links {
    max-width: 800px;
    text-align: center;
    margin: 20px 0;
}

.highlight {
    font-weight: bold;
    color: #cf9fbe; /* Color del teléfono resaltado */
}

h3 {
    margin-bottom: 10px;
}

a {
    color: #6a8892; /* Color azul claro para los enlaces */
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s; /* Transición suave */
}

a:hover {
    text-decoration: underline;
    color: #fff; /* Cambia el color al pasar el mouse */
}

footer {
    text-align: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    border-top: 2px solid #000000;
}

/* Animación de entrada */
body, h1, h2, h3, p, a {
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.whatsapp-button {
    position: fixed;
    bottom: 20px; /* Distancia desde la parte inferior */
    right: 20px; /* Distancia desde la derecha */
    width: 60px; /* Ancho del botón */
    height: 60px; /* Alto del botón */
    background-color: #25D366; /* Color de fondo de WhatsApp */
    border-radius: 50%; /* Hace el botón circular */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3); /* Sombra */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100; /* Asegura que el botón esté por encima de otros elementos */
}

.whatsapp-button img {
    width: 50%; /* Ajusta el tamaño del icono */
    height: auto;
}

.whatsapp-button:hover {
    transform: scale(1.1); /* Efecto de hover */
    transition: transform 0.3s; /* Transición suave */
}
